body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ff9b;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8dcdd8da;
    box-shadow: 0 2px 4px;
}

header{
    text-shadow: 0 2px 5px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color:#333;
}

p{
    margin: 0;
    color: #241c1c;
}

.profile,
.skills,
.experience,
.education{ margin-bottom: 30px;}

h2 {
    margin: 0 0 10px 0;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    background-color: #fa7171;
    padding: 5px 10px;
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
}

article h3 {
    margin: 0 0 5px 0;
    color: #333;
}

article p {
    margin: 0;
    color: #2c1f1f;
}